@using ProductType = FeestBeest.Data.Models.ProductType
@model OrderViewModel
@{
    ViewData["Title"] = "Products";
    ViewData["date"] = Model.OrderFor;
    ViewData["step"] = "Shop";
}

<div class="container mx-auto p-6">
    <partial name="~/Views/Shared/navigation.cshtml"/>
    @if (!Model.Check)
    {
        <div class="alert alert-warning" role="alert">
            @Model.Result
        </div>
    }
    <span class="block mb-4">Items in basket: @Model.ProductsOverViewModel.BasketCount</span>

    <div class="flex flex-wrap -mx-3">
        <h1 class="w-full text-center text-2xl font-bold mb-6">SPECIAL DISCOUNT: GET 2 PAY FOR 3!</h1>
        <div class="w-full lg:w-1/4 px-3 mb-6 lg:mb-0">
            <form id="filterForm" method="get" asp-action="Shop">
                <input type="hidden" name="date" value="@Model.OrderFor.ToString("yyyy-MM-dd")"/>
                @foreach (var type in Enum.GetValues(typeof(ProductType)).Cast<ProductType>())
                {
                    <div class="form-check mb-2">
                        <input name="selectedTypes" class="form-check-input" type="checkbox" value="@type" id="type_@type" @(Model.ProductsOverViewModel.SelectedTypes.Contains(type) ? "checked" : "") onchange="submitForm()"/>
                        <label class="form-check-label" for="type_@type">@type</label>
                    </div>
                }
            </form>
        </div>
        <div class="w-full lg:w-3/4 px-3">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                @foreach (var product in Model.ProductsOverViewModel.Products)
                {
                    <partial name="~/Views/Shared/shop-item.cshtml" model="product"/>
                }
            </div>
        </div>
        @if (Model.ProductsOverViewModel.BasketCount > 0)
        {
            <form method="get" asp-action="Contact" class="w-full mt-6">
                <input type="hidden" name="date" value="@Model.OrderFor.ToString("yyyy-MM-dd")"/>
                <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" value="Next step"/>
            </form>
        }
        else
        {
            <div class="alert alert-warning w-full mt-6" role="alert">
                Please select at least one product
            </div>
        }
    </div>
</div>

<script>
    function submitForm() {
        document.getElementById('filterForm').submit();
    }
</script>