@using Microsoft.AspNetCore.Identity
@inject SignInManager<FeestBeest.Data.Models.Account> SignInManager
@inject UserManager<FeestBeest.Data.Models.Account> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FeestBeest</title>
    <link rel="stylesheet" href="https://unpkg.com/franken-ui@1.1.0/dist/css/core.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<header class="bg-white shadow-md -mt-4">
    <nav class="flex items-center justify-between p-4">
        <div class="flex items-center">
            <a class="flex items-center" href="@Url.Action("Index", "Home")">
                <img src="/Img/Logo.png" class="h-20 w-20 object-contain" />
            </a>
        </div>
        <div class="hidden md:flex space-x-8">
            <ul class="flex space-x-8">
                <li class="uk-active">
                    <a href="@Url.Action("Index", "Home")" class="text-gray-700 hover:text-blue-600 text-lg font-semibold">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Beestje")" class="text-gray-700 hover:text-blue-600 text-lg font-semibold">Beestjes beheren</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Extras")" class="text-gray-700 hover:text-blue-600 text-lg font-semibold">Extras beheren</a>
                </li>
            </ul>
        </div>
        <div class="hidden md:flex space-x-8">
            <ul class="flex space-x-8">
                <li>
                    <a href="@Url.Action("Create", "Account")" class="text-gray-700 hover:text-blue-600 text-lg font-semibold">Register</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" class="text-gray-700 hover:text-blue-600 text-lg font-semibold">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")" class="text-gray-700 hover:text-blue-600 text-lg font-semibold">Login</a>
                    </li>
                }
            </ul>
        </div>
        <div class="md:hidden">
            <button class="text-gray-700 hover:text-blue-600 focus:outline-none" uk-toggle="target: #mobile-menu">
                <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </nav>
</header>
<div class="container">
    @RenderBody()
</div>
<footer>
    <!-- Footer content -->
</footer>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js"></script>
<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js"></script>
<script type="module" src="/js/site.js"></script>
</body>
</html>