<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FeestBeest</title>
    <link rel="stylesheet" href="https://unpkg.com/franken-ui@1.1.0/dist/css/core.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<header>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="@Url.Action("Index", "Home")">
                <img src="/Img/Logo.png" class="h-16 w-16 object-contain" />
            </a>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Beestje")">Beestjes beheren</a></li>
                <li><a href="@Url.Action("Index", "Extras")">Extras beheren</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="@Url.Action("Create", "Account")">Register</a></li>
                <li><a href="@Url.Action("Login", "Account")">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    @RenderBody()
</div>
<footer>
    <!-- Footer content -->
</footer>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js"></script>
<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js"></script>
<script type="module" src="/js/site.js"></script>
</body>
</html>